body {
    margin: 0;
    padding: 0;
    font-family: monospace;
  }
  
  .form {
    width: 85vw;
    padding:2.5vw;
    margin-left: 7vw;
    margin-top: 2.5vw;
    padding-bottom: 5vw;
    border-radius: 10px;
    background-color: #C6AC8F;
    text-align: center;
  }
  
  .form p {
    font-size: 30px;
    padding-top: 2.5vw;
  }
  
  .form input {
    width: 50vw;
    height: 4vw;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    border: none;
    outline-color: white;
  }
  
  .form2 {
    margin-left: 15vw;
    width: 60vw;
    height: 20vw;
    background-color: white;
    border-radius: 10px;
    color: #5A3A1A;
  }
  
  .form2 p {
    background-color: #3A1F00;
    color: white;
    border-radius: 5px;
    margin-left: -10px;
    margin-right: -10px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .form2 span {
    display: inline;
  }
  
  .form3 {
    margin-left: 15vw;
    width: 60vw;
    height: 30vw;
    background-color: white;
    border-radius: 10px;
    color: #5A3A1A;
  }
  
  .form3 p {
    background-color: #3A1F00;
    color: white;
    border-radius: 5px;
    margin-left: -10px;
    margin-right: -10px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .form3 h2 {
  
    margin-top: 3vw;
    font-size: 30px;
  }
  
  button {
    background-color: #3A1F00;
    width: 15vw;
    height: 5vw;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 100px;
    margin-top: 5vw;
  }
  
  .che {
    padding:2.5vw;
    width: 85vw;
    margin-left: 7vw;
    margin-top: 2.5vw;
    padding-bottom: 5vw;
    border-radius: 10px;
    background-color: #C6AC8F;
    text-align: center;
  }
  
  .che h2 {
    width: 60vw;
    background-color: #3A1F00;
    color: white;
    font-size:30px;
    border-radius: 5px;
    margin-left: -10px;
    padding-right: 20px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .che p {
    font-size:30px;
  }
  .che2 {
    background-color: white;
    width: 60vw;
    margin-left: 15vw;
    border-radius: 10px;
    padding-bottom: 5vw;
  }
  .all2 {
    width: 85vw;
  
    margin-left: 7vw;
    margin-top: 2.5vw;
    padding-bottom: 5vw;
    border-radius: 10px;
    background-color: #C6AC8F;
    text-align: center;
  }
  
  .all2 p {
    font-size: 30px;
    padding: 10px;
  }
  
  .all2 textarea {
    border: none;
    outline: none;
    width: 50vw;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
  }
  
  .all2 input {
    border: none;
    outline: none;
    width: 20vw;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
  }
  
  img {
    padding-top: 2vw;
    margin-left: 0vw;
    height: 8vw;
    background-color: #C6AC8F;
  }
  .all2{
    width:100vw;  
    text-align:center;
    font-size:50px;
    font-weight:500;
    background-color:white;
   opacity: 0;
   display: none;
   }
  .all2 select {
    margin-top: 10px;
    font-weight: 600;
    width: 25vw;
    height: 3vw;
    font-size: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
  }
  
  .all2 option {
    height: 100px;
    font-weight: 600;
    border-radius: 10px;
  }