body {
    margin: 0;
    padding: 0;
    font-family: monospace;
  }
  
  .name {
    margin: 0;
    padding: 0;
    width: 15vw;
    height: 15vw;
    background-color: #3A1F00;
  }
  
  .name p {
    margin: 0;
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-top: 5vw;
  }
  
  .name2 {
    width: 100vw;
    height: 10vw;
    border-bottom: 2px solid;
    border-color: #5A3A1A;
  }
  
  .name2 h1 {
    float: right;
    margin-right: 40vw;
    margin-top: 3vw;
    color: #5A3A1A;
  }
  
  .form {
    width: 85vw;
  
    margin-left: 7vw;
    margin-top: 2.5vw;
    padding-bottom: 5vw;
    border-radius: 10px;
    background-color: #C6AC8F;
    text-align: center;
  }
  
  .form p {
    font-size: 30px;
    padding-top: 2.5vw;
  }
  
  .form input {
    width: 50vw;
    height: 4vw;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    border: none;
    outline-color: white;
  }
  
  button {
    background-color: #3A1F00;
    width: 15vw;
    height: 5vw;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 100px;
    margin-top: 5vw;
  }
  
  .menu {
    margin-left: -50vw;
    margin-top: 10vw;
    margin-bottom: 5px;
    width: 40vw;
    height: 30vw;
    background-color: white;
    border-radius: 10px;
  }
  
  .menu2 {
    margin-top: 10vw;
    margin-right: 10vw;
    margin-left: 5vw;
    width: 40vw;
    height: 30vw;
    background-color: white;
    border-radius: 10px;
  }
  .商品button:hover {
    border: 3px solid;
    border-color: white;
  }
  
  .商品button:active {
    background-color: #C6AC8F;
  }
  
  .name:hover {
    background-color: #BC9A78;
  
  }
  
  .name p:hover {
    color: #5A3A1A;
  }
  
  .formm {
    width: 85vw;
  
    margin-left: 7vw;
    margin-top: 2.5vw;
    padding-bottom: 5vw;
    border-radius: 10px;
    background-color: #C6AC8F;
    text-align: center;
  }
  
  .formm p {
    padding: 10px;
    font-size: 30px;
  }
  
  .formm input {
    border: none;
    outline: none;
    font-size: 30px;
    font-weight: 600;
    background-color: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  .all2 {
    width: 85vw;
  
    margin-left: 7vw;
    margin-top: 2.5vw;
    padding-bottom: 5vw;
    border-radius: 10px;
    background-color: #C6AC8F;
    text-align: center;
  }
  
  .all2 p {
    font-size: 30px;
    padding: 10px;
  }
  
  .all2 textarea {
    border: none;
    outline: none;
    width: 50vw;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
  }
  
  .all2 input {
    border: none;
    outline: none;
    width: 20vw;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .all3 {
    width: 85vw;
    margin-left: 7vw;
    margin-top: 2.5vw;
    padding-bottom: 5vw;
    border-radius: 10px;
    background-color: #C6AC8F;
    text-align: center;
    padding-top: 10px;
  
  }
  
  .all3 div {
    margin-left: 17vw;
    width: 50vw;
    background-color: white;
    border-radius: 10px;
  }
  
  .all3 p {
    font-size: 40px;
    font-weight: 600;
    color: white;
    padding: 20px;
  
    background-color: #3A1F00;
    border-radius: 10px;
  }
  
  .all3 .p {
    font-size: 50px;
    font-weight: 600;
    color: #3A1F00;
    background-color: white;
  
  }
  
  .all3 .pp {
    font-size: 20px;
    font-weight: 600;
    color: #3A1F00;
    background-color: white;
  }
  
  img {
    padding-top: 2vw;
    margin-left: 0vw;
    height: 8vw;
    background-color: #C6AC8F;
  }
  
  .all2 select {
    margin-top: 10px;
    font-weight: 600;
    width: 25vw;
    height: 3vw;
    font-size: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
  }
  
  .all2 option {
    height: 100px;
    font-weight: 600;
    border-radius: 10px;
  }
  .form {
    opacity: 1;
}

.formm {
    opacity: 0;
}

.all2 {
    opacity: 0;
}

.all3 {
    opacity: 0;
}
h2{
    margin-left:10px;
}