body {
    margin: 0;
    padding: 0;
    font-family: monospace;
  }
  
  .name {
    margin: 0;
    padding: 0;
    width: 15vw;
    height: 15vw;
    background-color: #3A1F00;
  }
  
  .name p {
    margin: 0;
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-top: 5vw;
  }
  
  .name2 {
    width: 100vw;
    height: 10vw;
    border-bottom: 2px solid;
    border-color: #5A3A1A;
  }
  
  .name2 h1 {
    float: right;
    margin-right: 40vw;
    margin-top: 3vw;
    color: #5A3A1A;
  }
  
  
  button {
    background-color: #3A1F00;
    width: 15vw;
    height: 5vw;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 100px;
    margin-top: 5vw;
  }
  
  .name:hover {
    background-color: #BC9A78;
  
  }
  
  .name p:hover {
    color: #5A3A1A;
  }
  
  .top {
    width: 85vw;
    padding-bottom: 5vw;
    margin-left: 7vw;
    border-radius: 10px;
    text-align: center;
    background-color: #C6AC8F;
  }
  
  .top h1 {
    font-size: 40px;
    color: #3A1F00;
    padding-top: 15px;
  }
  
  .top2 {
    margin-left: 15vw;
    width: 60vw;
    height: 15vw;
    background-color: white;
    border-radius: 10px;
    color: #5A3A1A;
  }
  
  .top2 p {
    background-color: #3A1F00;
    color: white;
    border-radius: 5px;
    margin-left: -10px;
    margin-right: -10px;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .top2 input {
    width: 50vw;
    height: 4vw;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    border: none;
    outline-color: white;
  }
  
  .top button {
    background-color: #3A1F00;
    width: 15vw;
    height: 5vw;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 100px;
    margin-top: 5vw;
  }
  
  .top button:hover {
    background-color: #BC9A78;
    border: 2px solid white;
  }
  
  .top button:active {

    color: #5A3A1A;
  }
  
  
  .top {
    background-color: white;
    padding: 0;
    margin: 0;
  }
  
  