body {
    margin: 0;
    padding: 0;
}

.topber {
    position: relative;
    width: 100vw;
    margin-bottom: 2vw;
    margin-right:0;
    position: fixed;
    top: 0;
    box-shadow: 0 0 5px 1px lightgray;
    background-color: white;
    z-index: 200;
}

.topber p {
    display: inline-block;
    margin: 0;
    vertical-align: text-bottom;
    padding: 5vw;
}

.topber p:nth-child(1) {
    font-size: 3vw;
    font-weight: 600;
}

.topber p:nth-child(2) {
    position: absolute;
    right: 0;
    bottom: 0;
}

.topber span {
    transition: all 0.1s ease;
    padding: 0.5vw;
    border-radius: 10px;
}

.topber span:hover {
    font-weight: 600;
    box-shadow: 0 0 10px 2px lightgray;
}

.topber span:active {
    background-color: black;
    color: white;
}

.body {
    
    height: 0 auto; 
    padding:0;
   margin-top:16vw;
   margin-left:0;
   margin-right:0;
}

.body p {
    position: relative;
    width: 0 auto;
    margin: 0;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 5vw;
    padding-right:0;
    font-size: 1.5vw;
}

.body p:hover {
    background-color: whitesmoke;
    box-shadow: 0 0 5px 1px lightgray;
}


.c11 {
    animation-fill-mode: forwards;
}

.c11 .d1 {
    display: none;
    height: 15vw;
    width: 0 auto;
    padding: 2vw;
}

.c11 .d1 p {
font-size:20px;
padding:0;
margin:0;
}

.c11 .d1 p:hover {
    background-color: white;
    box-shadow: none;
}

.c11:hover .d1 {
    display: block;
    animation: dd1 1s forwards;
}

.c11:hover .c111 {
    background-color: whitesmoke;
    box-shadow: 0 0 5px 1px lightgray;
}

@keyframes dd1 {
    0% {
        opacity: 0;
        box-shadow: 0 0 0 0 white;
    }

    100% {
        opacity: 1;
        box-shadow: 0 5px 5px 1px lightgray;
    }
}