body{
font-family:monospace;
}
.left{
    border-right:4px solid black;
    width:35vw;
}
.toph1{
    font-size:5vw;
    margin-left:5vw;
}
.topb{
    width:35vw;
}
.topb1{
    width:15vw;
    padding-top:2vw;
    padding-bottom: 2vw;
    margin-left:5vw;
    text-align:center;
    font-size:1.5vw;
    font-weight:600;
    background-color: black;
    color:white;
}
.topb2{
    float: right;
    margin-top:-3.25vw;
    margin-right:1vw;
    width:10vw;
    padding-top:1vw;
    padding-bottom:1vw;
    background-color:black;
    color:white;
    font-weight:550;
    text-align:center;
    border-radius:10px;
}
.topb2:hover{
    font-weight:650;
    border-radius:30px;
}
.topber{
    font-size:1.5vw;
    margin-left:5vw;
    margin-top:5vw;
}
.topber span{
    font-size:0.75vw;
    
}
.topber div{
    margin-bottom:3vw;
}
.topber div:hover{
    font-weight:550;
    font-size:110%;
    border-bottom:2px solid black;
    width:90%;
}
.tpb1{
    border-bottom:2px solid black;
    width:90%;
    font-size:110%;
    font-weight:550;
}

.right{
    
    width:60vw;
    margin-top:-90vh;
    float:right;
}
.rtpl{
    width:60vw;
    
    font-size:2vw;
    font-weight:550;
    position:relative;
}
.rtpl span{
    position: absolute;
    bottom:3px;
    right:5vw;
    font-size:1vw;
    
    float: right;
}
.right pre{
    width:20vw;
    margin-top:5vw;
    font-size:1.25vw;
}
.back{
    width:10vw;
    height:2vw;
    background-color: black;
    border-radius: 1vw;
    margin-left:5vw;
    color:white;
    font-size:25px;
    font-weight:600;
    text-align:center;
    padding-top:1vw;
    padding-bottom:1vw;
}
.back:hover{
    border-radius:100px;
}
.back:active{
    background-color: white;
    color:black;
}
