body {
    margin: 0;
    padding: 0;
    font-family: monospace;
  }
  
  .name {
    margin: 0;
    padding: 0;
    width: 15vw;
    height: 15vw;
    background-color: #3A1F00;
  }
  
  .name p {
    margin: 0;
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-top: 5vw;
  }
  
  .name2 {
    width: 100vw;
    height: 10vw;
    border-bottom: 2px solid;
    border-color: #5A3A1A;
  }
  
  .name2 h1 {
    float: right;
    margin-right: 40vw;
    margin-top: 3vw;
    color: #5A3A1A;
  }
  
  .form2 {
    margin-left: 15vw;
    width: 60vw;
    height: 20vw;
    background-color: white;
    border-radius: 10px;
    color: #5A3A1A;
  }
  
  .form2 p {
    background-color: #3A1F00;
    color: white;
    border-radius: 5px;
    margin-left: -10px;
    margin-right: -10px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .form2 span {
    display: inline;
  }
  
  .form4 {
    margin-left: 15vw;
    width: 60vw;
    height: 20vw;
    background-color: white;
    border-radius: 10px;
    color: #5A3A1A;
  }
  
  .form4 p {
    background-color: #3A1F00;
    color: white;
    border-radius: 5px;
    margin-left: -10px;
    margin-right: -10px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .form4 span {
    display: inline;
  }
  
  .form5 {
    width: 85vw;
    height: 60vw;
    margin-left: 7vw;
    margin-top: 2.5vw;
    border-radius: 10px;
    background-color: #C6AC8F;
    text-align: center;
  }
  
  .form5 p {
    font-size: 30px;
    padding-top: 2.5vw;
  }
  
  .form5 input {
    width: 50vw;
    height: 4vw;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    border: none;
    outline-color: white;
  }
  
  .passw {
    background-color: white;
  }
  
  button {
    background-color: #3A1F00;
    width: 15vw;
    height: 5vw;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 100px;
    margin-top: 5vw;
  }

  
  .button1 {
    margin-top: 2vw;
  }
  
  .button1:hover {
    border: 3px solid;
  }
  
  .button1:active {
    background-color: #C6AC8F;
  }
  
  .button2 {
    animation-name: ani;
    animation-duration: 1s;
  }
  
  .a {
  
    animation-iteration-count: infinite;
  }
  
  @keyframes ani {
    0% {
      visibility: hidden;
      opacity: 0;
    }
  
    100% {
      visibility: visible;
      opacity: 1;
    }
  }
  
  .loading span {
    display: block;
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    top: -4.5vw;
  }
  
  .passfo {
    font-size: 15px;
    padding: 5px;
    margin-left: 65vw;
    margin-top: 1vw;
    margin-bottom: 0;
    background-color: #5A3A1A;
    width: 10vw;
    border-radius: 10px;
    color: white;
  }
  
  .passfo a {
    text-decoration: none;
    color: white;
  }
  
  .passfo:hover {
    border: 1px solid;
    border-color: white;
  }
  
  .passfo:active {
    background-color: #C6AC8F;
  }
  
  .name:hover {
    background-color: #BC9A78;
  
  }
  
  .name p:hover {
    color: #5A3A1A;
  }
  }