body{
  margin:0;
}
.h1{
    padding-top:3vw;
margin:0;
  color:white;
  background-color:	#3A1F00;
  width:15vw;
  height:13vw;
  text-align:center;

}
.section1 p{
  float:right;
  margin-left:20px;
  margin-right:0;
  padding-right:0;
}
.section1{
  padding:0;
  margin:0;
  border-bottom:1px solid;
  border-color:#5A3A1A;
  height:10vw;
  z-index:100;
}

.head{
  float:right;

}
.searchform{
  float:right;
    margin-right:15vw;
    margin-top:5vw;

}
.searchform button{
  height:3vw;
  width:5vw;
  color:white;
  background-color:#5A3A1A;
  border:none;
  border-radius:10px;
  font-size:15px;
  font-weight:600;
}
.search{
  border-color:#5A3A1A;
  border-radius:10px;
  width:25vw;
  height:3vw;
}
.genre{
border-bottom:1px solid   #5A3A1A;
color:#5A3A1A;

}
.p{
  margin-left:0;
  margin-right:0;
  width:22.5vw;
  height:10vw;
  float:right;
  z-index:100;
}
.p p{
  width:100px;
  height:30px;
  background-color:#5A3A1A;
  color:white;
  text-align:center;
  border-radius:10px;
  float:right;
  margin-top:6vw;
  margin-right:10px;
  margin-bottom:0;
  transition:0.2s;
}

.p p:hover{
  background-color:#BC9A78;
  color:#3A1F00;
  }

.img1{
  width:90vw;
  margin-top:2vw;
  margin-left:2vw;
  margin-bottom:2vw;
  z-index: 20;
  position:relative;
}
.img2{
  width:90vw;
  height:50vw;
  margin-left:6vw;
  margin-top:2vw;
  background-color:#78512B	;
  z-index: 20;
}
.img3{
  width:15vw;
  height:15vw;
  background-color:#5A3A1A;
  margin:0;
  padding:0;
  z-index: 20;
  float:right;
  position:relative;top:-10vw;
}
.img4{
  width:100vw;
margin-bottom:5vw;
}
.pop{
  border-top:2px solid;
  border-color:#5A3A1A;
  width:100vw;
  height:10vw;
  padding-top: 2vw;
background-color: #C6AC8F;
}
.popp{
  text-align:center;
  color:#5A3A1A;
  font-size:40px;
   font-weight:600;
}
.shopname{
  font-size:30px;
  margin-top:5px;
  margin-bottom:0;
}
.menu{
  font-size:25px;
  font-weight:600;
  margin-top:10px;
}
.menufee{
  display:flex;
  width:40vw;
  margin-bottom:0;
}
.fee{
margin-left:25vw;
font-size:20px;
}
.no1{
  width:40vw;
  height:25vw;
  border:1px solid;
  margin-left:5vw;
  margin-top:10vw;
  float:left;
  z-index:1;
}
.express{
margin-top:0;
background-color:#BC9A78;	
}
.no2{
  height:120vw;
}
.foot{
  width:100vw;
  height:50vw;
  background-color:#BC9A78;	
  border-top:2px solid;
}
.news2{
  font-size:40px;
  font-weight:600;
  text-align:center;
  color:#5A3A1A;
}
.news{
  border:1px solid;
  margin-left:10vw;
  background-color:white;
  width:80vw;
  height:30vw;
}
.news p{
  font-size:15px;
  color:grey;
  border-bottom:1px solid;
  border-color:grey;
}
.place{
  width:100vw;
  border-top:1px solid;
  height:40vw;
}
.place2{
  width:100vw;
  height:10vw;
  background-color:#3A1F00;	
  padding-top:2vw;
 font-size:40px;
 font-weight:600;
 color:white;
 text-align:center;
}
.p1{
  font-size:20px;
  font-weight:600;
}
.p2{
  float:left;
  display:flex;
  margin-right:5vw;
  margin-bottom:2vw;
}
.p2 p{
  margin-right:10px;
}
.a1{
  transition: 0.5s;
  visibility:none;
  padding-left:0;
  opacity:0;
  width:10vw;
}
.a2{
  transition: 0.75s;
  visibility:none;
  padding-left:0;
  opacity:0;
  width:10vw;
  margin-top:1vw;
}
.a22{
  transition: 1.0s;
  visibility:none;
  opacity:0;
  padding-left:0;
  width:10vw;
margin-top:1vw;
}
.ul3 > li:hover .a1{
  transition:0.5s;
  visibility:visible;
     opacity:1;
     margin-right: 2vw;
}
.ul3 > li:hover .a2{
  transition:0.75s;
  visibility:visible;
     opacity:1;
     margin-right: 2vw;
}
.ul3 > li:hover .a22{
  transition:1.0s;
  visibility:visible;
  opacity:1;
  margin-right: 2vw;
}
.a3{
  list-style-type:none;
  width:10vw;
  height:80px;
  margin-right: 2vw;
  
  position:relative;left:-10px;
}
.a3 a{
  width:100px;
  height:30px;
  background-color:#5A3A1A;
  color:white;
  text-align:center;
 
  padding-right:1vw;
  padding-left:1vw;
  padding-bottom:1vw;
  padding-top:1vw;
}
.ul3{
  list-style-type:none;
  margin-top:0;
  margin-bottom:0;
  width:10vw;
}
.a1 a{
  padding-right:1.3vw;
  padding-top:0.2vw;
  transition:0.2s;
  text-decoration:none;
}
.a2 a{
  padding-right:1.3vw;
  padding-top:0.2vw;
  transition:0.2s;
  text-decoration:none;
}
.a22 a{
  padding-right:1.3vw;
  padding-top:0.2vw;
  transition:0.2s;
  text-decoration:none;
    z-index:100;
}
.a1 a:hover{
  background-color:#BC9A78;
  color:#3A1F00;
}
.a2 a:hover{
  background-color:#BC9A78;
  color:#3A1F00;
}
.a22 a:hover{
  background-color:#BC9A78;
  color:#3A1F00;
  z-index:100;
}
