<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>YOUTUBE DOWNLOAD</title>
</head>
<body>
<h1>検索：{{se}}</h1>
<div>
 <p class="p">{{title1}}</p>
 <p>{{url1}}</p>
 <video src="{{title1}} {{id1}}.mp4" controls></video>
</div>
<div>
 <p  class="p">{{title2}}</p>
 <p>{{url2}}</p>
 <video src="{{title2}} {{id2}}.mp4" controls></video>
</div>
<div>
 <p class="p">{{title3}}</p>
 <p>{{url3}}</p>
 <video src="{{title3}} {{id3}}.mp4" controls></video>
</div>
<div>
 <p class="p">{{title4}}</p>
 <p>{{url4}}</p>
 <video src="{{title4}} {{id4}}.mp4" controls></video>
</div>
<div>
 <p class="p">{{title5}}</p>
 <p>{{url5}}</p>
 <video src="{{title5}} {{id5}}.mp4" controls></video>
</div>
<div>
 <p class="p">{{title6}}</p>
 <p>{{url6}}</p>
 <video src="{{title6}} {{id6}}.mp4" controls></video>
</div>
<div>
 <p class="p">{{title7}}</p>
 <p>{{url7}}</p>
 <video src="{{title7}} {{id7}}.mp4" controls></video>
</div>
<div>
 <p class="p">{{title8}}</p>
 <p>{{url8}}</p>
 <video src="{{title8}} {{id8}}.mp4" controls></video>
</div>
<div>
 <p class="p">{{title9}}</p>
 <p>{{url9}}</p>
 <video src="{{title9}} {{id9}}.mp4" controls></video>
</div>
<div>
 <p class="p">{{title10}}</p>
 <p>{{url10}}</p>
 <video src="{{title10}}.mp4" controls></video>
</div>
    <style>
        body{
            padding:0;
            margin:0;
        }
        h1{
            width:90vw;
            background-color: red;
            padding:10px;
            border-radius:10px;
        }
        div {
            width: 99vw;
            height: 45vw;
            background-color: lightgray;
            border-radius: 20px;
            border:2px solid gray;
            padding-bottom:1vw;
            margin-bottom: 1vw;
        }
         video{
            height:30vw;
            
         }
         p{
            font-size:5px;
         }
        .p {
            font-size: 30px;
            border-bottom:5px solid white;
            padding:5px;
        }
    </style>
</body>
</html>
